.saerchBar{
    width: 600px;
    padding: 10px ;
}
.saerchBar button{
    width: 100px;
}
tr{
    font-size: 12px;
}
.purchase{
    background-color: #FBBF77;
}
.delBtn{
    font-size: 10px;
    padding: 2px 5px;
}
