.saerchBar{
    width: 550px;
    padding: 8px ;
}
.saerch button{
    width: 150px;
}
tr{
    font-size: 10.5px;
}
.purchase{
    background-color: #FBBF77;
}
.customBtn{
    font-size: 10px;
    padding: 2px 5px;
}
